body{
    margin: 0;
    padding: 0;
}

header, footer{
    background-color: #1f2937;
    padding: 16px;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f9faf8;
}

.imglogo{
    height: 50px;
    width: 100px;
}

.logo{
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
    display: flex;
    align-items: center;
}

.navbar{
    display: flex;
    justify-content: space-around;
    gap: 100px;
}

.nav ul{
    display: flex;
    gap: 16px;
}

.nav ul li{
    list-style-type: none;
    font-size: 18px;
}

.nav ul li a {
    color:#e5e7eb;
    text-decoration: none;
}

.nav ul li a:hover{
    text-decoration: underline;
    color: goldenrod;
}

.awesome, .placeholder{
    max-width: 500px;
}

.awesome h1{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.awesome p {
    width: 450px;
    font-size: 18px;
    color: #e5e7eb;
}
 
.placeimg{
    width: 500px;
    height: 350px;
    opacity: 0.4;
}

.header-description{
    display: flex;
    justify-content: space-around;
    margin: auto 50px auto 100px;
}

.herobut{
    background-color: #3882f6;
    padding:6px 26px;
    font-size: 18px;
    border: none;
    color: #f9faf8;
    border-radius: 5px;
}

.herobut:hover{
    background-color: goldenrod;
}